.loaders {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100vw;
}

.spinner {
	position: relative;
	width: 79px;
	height: 79px;
	border-top: 5px solid rgba(255, 151, 0, 1);
	border-right: 5px solid transparent;
	border-radius: 50%;
	animation: spin 1s linear 0s infinite;
}

@keyframes spin {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
